body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    min-height:100%;
    background-image:url('./blackeyedpeas.jpeg');
    background-size: cover;
    background-repeat:no-repeat;
}

#transition-full {
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    background-color:lime;
    transition:0.5s height ease-in-out;
    position:fixed;
}

div {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;

}

#q-container {
    position:absolute;
    top:0;
    height:100%;
}

input[type=number] {
    width:5em;
    height:2em;
    font-size:300%;
    border:1px solid black;
}

#submit-btn {
    padding: 0 1em;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 500px;
    border: 1px solid black;
    
    font-size:300%;
    color:black;
    background-color:white;

    box-shadow: 0.2em 0.2em 0 black;
    transition:0.1s;
}

#submit-btn:active {
    box-shadow: 0 0 0 black;
    transform:translate(0.2em, 0.2em);
}

h1, h2, h3 {
    background-color:white;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid black;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}