body {
    display: flex;
    justify-content: center;
    text-align:center;
    background-image: url('./imgs/christmas_bg.jpg');
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
}

#menu {
    color:white;
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu * {
    margin: 0.5em 0 0.5em 0;
}

.btn {
    padding: 0 1em;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 500px;
    border: none;
    
    font-size:300%;
    color:white;
    background-color:rgb(34, 79, 184);

    box-shadow: 0.1em 0.2em 0 rgb(9, 54, 105);
    transition:0.1s;
}

.btn:active {
    box-shadow: 0.025em 0.05em 0 rgb(9, 54, 105);
    transform:translate(0.075em, 0.195em);
}

#transition-screen {
    position:absolute;
    bottom:0;
    width:100%;
    height:0%;
    background-color:lime;
    transition:0.5s height ease-in-out;
    position:fixed;
}

#transition-full {
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    background-color:lime;
    transition:0.5s height ease-in-out;
    position:fixed;
}

#q-container {
    position:absolute;
    z-index: -1;
    top:0;
    height:100%;
    width:100%;
    padding:10px 10px;
    margin:0;
    background-image:url('../imgs/christmas_bg.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

.fullscreen {
    height:100%;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

