body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color:black;
    margin:0;
    padding:0;
    font-family: "Verdana", sans-serif;
}

#transition-full {
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    background-color:lime;
    transition:0.5s height ease-in-out;
    position:fixed;
    overflow:hidden;
}

#transition-screen {
    position:absolute;
    bottom:0;
    width:100%;
    height:0%;
    background-color:lime;
    transition:0.5s height ease-in-out;
    position:fixed;
    overflow:hidden;
}

div {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

p {
    font-size: 8rem;
    color:white;
}

#q-container {
    position:absolute;
    z-index: -1;
    top:0;
    height:100%;
    width:100%;
    padding:10px 10px;
    margin:0;
    background-image:url('../imgs/christmas_bg.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

input[type=text] {
    height:2em;
    font-size:300%;
    width: 8em;
    border:1px solid black;
    text-align:center;
}

#submit-btn, .btn {
    padding: 0 1em;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 500px;
    border: none;
    
    font-size:300%;
    color:white;
    background-color:rgb(34, 79, 184);

    box-shadow: 0.1em 0.2em 0 rgb(9, 54, 105);
    transition:0.1s;
}

#submit-btn *, .btn * {
    margin-bottom: 0;
}

#submit-btn:active, .btn:active {
    box-shadow: 0.025em 0.05em 0 rgb(9, 54, 105);
    transform:translate(0.075em, 0.195em);
}

#menu {
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrong-code {
    animation: wrong-shake 0.3s;
}

.correct-code {
    animation: correct-shake 0.3s;
}

@keyframes wrong-shake {
    25% { transform: rotate(15deg) }
    50% { transform: rotate(-15deg) }
    75% { transform: rotate(-15deg) }
    100% { transform: rotate(15deg) }
}

@keyframes correct-shake {
    50% { transform: translateX(20px) }
    100% { transform: translateX(0px) }
}

h1, h2, h3 {
    background-color:rgb(105, 138, 228);
    color:white;
    border: 2px solid rgb(25, 98, 158);
    display:inline-block;
    padding: 10px 10px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}